<div mat-dialog-title>
    <h1>Ship Form</h1>
</div>
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Ex. MSC CANEBERRA">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput type="text" placeholder="Ex. AAAA-1111-A1">
          </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Length</mat-label>
            <input matInput type="number" placeholder="Ex. 195">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Width</mat-label>
            <input matInput type="number" placeholder="Ex. 195">
          </mat-form-field>
    </div>
    
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary">Save</button>
</div>